<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.dataserver.mapper.AchievementCategoriesMapper">

    <resultMap id="BaseResultMap" type="cn.example.dataserver.entity.AchievementCategories">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,description,cover_image,sort_order
    </sql>
</mapper>
