<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.dataserver.mapper.ItemTransactionsMapper">

    <resultMap id="BaseResultMap" type="cn.example.dataserver.entity.ItemTransactions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="itemId" column="item_id" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="transactionType" column="transaction_type" jdbcType="VARCHAR"/>
            <result property="referenceId" column="reference_id" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,item_id,quantity,transaction_type,reference_id,
        description,created_at
    </sql>
</mapper>
