<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.dataserver.mapper.UserFavoritesMapper">

    <resultMap id="BaseResultMap" type="cn.example.dataserver.entity.UserFavorites">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="targetType" column="target_type" />
            <result property="targetId" column="target_id" />
            <result property="createdAt" column="created_at" />
            <result property="extra" column="extra" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,target_type,target_id,created_at,extra
    </sql>
</mapper>
