<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.example.dataserver.mapper.UserItemsMapper">

    <resultMap id="BaseResultMap" type="cn.example.dataserver.entity.UserItems">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="itemId" column="item_id" />
            <result property="status" column="status" />
            <result property="code" column="code" />
            <result property="acquiredAt" column="acquired_at" />
            <result property="usedAt" column="used_at" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="icon" column="icon" />
            <result property="type" column="type" />
            <result property="color" column="color" />
            <result property="isSpecial" column="is_special" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,item_id,status,code,acquired_at,
        used_at,name,description,icon,type,
        color,is_special
    </sql>
</mapper>
